@CHARSET "ISO-8859-1";
body{
	background-color: #F7F7F7;
}
#container{
	 border: 1px solid #ccc;
     background-color: #fff;
}

#apDiv1 {
	position: absolute;
	width: 116px;
	height: 30px;
	z-index: 1;
	left: 440px;
	top: 360px;
}
#apDiv2 {
	position: absolute;
	width: 116px;
	height: 30px;
	z-index: 2;
	left: 568px;
	top: 360px;
}
#apDiv3 {
	position: absolute;
	width: 116px;
	height: 30px;
	z-index: 3;
	left: 694px;
	top: 360px;
}
textarea{
font-weight: bold;
}
textarea:first-line {
font-weight: normal;
} 
