body{
	background-color: #F7F7F7;
}

#container{
	width: 1200 px;
	height: 800 px;
}



#apDiv1 {
	position: absolute;
	left: 471px;
	top: 100px;
	width: 331px;
	height: 289px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	left: 11px;
	top: -14px;
	width: 1253px;
	height: 44px;
	z-index: 2;
}
#apDiv3 {
	position: absolute;
	left: 128px;
	top: 100px;
	width: 328px;
	height: 285px;
	z-index: 3;
}
#apDiv4 {
	position: absolute;
	left: 813px;
	top: 101px;
	width: 328px;
	height: 289px;
	z-index: 4;
}
#apDiv5 {
	position: absolute;
	left: 127px;
	top: 401px;
	width: 677px;
	height: 291px;
	z-index: 5;
}
#apDiv6 {
	position: absolute;
	left: 814px;
	top: 401px;
	width: 335px;
	height: 286px;
	z-index: 6;
}
#apDiv7 {
	position: absolute;
	left: -338px;
	top: 688px;
	width: 1678px;
	height: 12px;
	z-index: 7;
}
#apDiv8 {
	position: absolute;
	left: 1152px;
	top: 687px;
	width: 4px;
	height: 24px;
	z-index: 7;
}
#apDiv9 {
	position: absolute;
	left: 13px;
	top: 11px;
	width: 892px;
	height: 16px;
	z-index: 7;
}
#apDiv10 {
	position: absolute;
	left: 31px;
	top: 31px;
	width: 1144px;
	height: 51px;
	z-index: 7;
}
#apDiv11 {
	position: absolute;
	left: 85px;
	top: 691px;
	width: 1199px;
	height: 106px;
	z-index: 8;
}
